<div class="app-wrapper">
  
  <div class="button-wrapper">
   <select name="dan" id="danselekt" (change)="selekt($event)">
      <option value="radniDan">Radni Dan</option>
      <option value="subota">Subota</option>
      <option value="nedelja">Nedelja</option>
  </select>
    <button type="button" class="btn btn-primary" (click)="next30Mins()">Sl.30 minuta</button>

  </div>
  <ng-container *ngFor="let bus of autobusiZaDisplay"> 
    <div class="autobus card"  >
    <h3 *ngFor="let item of bus.focusDan" class="termin">
      <p>
        {{ bus.ime }}
      </p>
      <p>
        {{ item }}
      </p>
    </h3>
  </div>
</ng-container>
 
</div>
