.button-wrapper {
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  #danselekt{
    width: 40%;
  }
}
.app-wrapper {
  padding-top: 20px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.autobus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: 5px;
  .termin {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    p {
      margin: 5px;
    }
  }
}
@media screen and (max-width: 450px) {
  .autobus {
    width: 80%;
  }
  .button-wrapper {
    width: 70%;
  #danselekt{
  width: 40%;
  }}
}
